# Ignore everything in this directory except for the mentioned files
*
!.gitignore

# Verifiable VC and VP token tokens from EBSI online sources ()
!vc-sample.jwt
!vp-sample.jwt

# Some claims in JSON format
!claims-sample.json
